.container
    h1=title
    section(infinite-scroll="loadDoodle(nextDoodle)", infinite-scroll-disabled='busy', infinite-scroll-distance='1')
        div(ng-repeat='doodle in doodles')
            div
                img.img-responsive(data-ng-show="doodle.text.length>0", data-ng-src='http://placehold.it/500x300&text={{doodle.text}}', alt='')
                img.img-responsive(data-ng-show="doodle.image.length>0", data-ng-src='{{doodle.image}}', alt='')
        div(ng-show='busy') Wczytywanie sznurka...