.container
    .row
        .col-lg-12
            h1.page-header
                | Galeria
                small &nbsp; zwariowane sznurki
    .row
        .col-md-6.portfolio-item(data-ng-repeat="chain in chains.list")
            a(href='#/chain/{{chain._id}}')
                img.img-responsive(data-ng-show="chain.text.length>0", data-ng-src='http://placehold.it/500x300&text={{chain.text}}', alt='')
                img.img-responsive(data-ng-show="chain.image.length>0", data-ng-src='{{chain.image}}', alt='')
            h3
                a(href='#') {{chain.type}}
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
    hr
    .row.text-center
        .col-lg-12
            pagination(data-ng-if="chains.list.length > 0", total-items='chains.totalItems', ng-model='chains.currentPage', ng-change='chains.pageChanged()')