.container
    .row
        .col-lg-12(ng-class="{true:'disabled', false:''}[disable==true]")
            .loading-overlay Przetwarzanie...
            h1.page-header=title
                small=subtitle
                small.pull-right {{action}}
            h3 {{chain}}
            div(data-draw, ng-show="action && action == 'draw'")
            div(data-describe, ng-show="action && action == 'describe'")
            button(ng-click="save()") Save
