.container
    .row
        .col-lg-12
            h1.page-header=title
                small=subtitle
            - if (typeof(user) !== "undefined"){
                .well
                    h1=user.display_name
            -} else {
                p.navbar-text
                    a(href="login") nie jesteś zalogowany
            -}