doctype html
html(ng-app="maziajApp")
    head
        meta(charset='utf-8')
        title(data-ng-bind="page.title") Maziaj.pl
        base(href='/')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='lib/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        link(href='stylesheets/bootstrap.lumen.min.css', rel='stylesheet')
        link(rel='stylesheet', href='stylesheets/style.css')
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        body(data-ng-class="page.bodyClass")
            include includes/top
            section#content(ng-view)
            include includes/footer
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
            script(src='lib/bootstrap/dist/js/bootstrap.min.js')
            script(src='lib/angular/angular.min.js')
            script(src='lib/angular-route/angular-route.min.js')
            script(src='javascripts/maziaj.js')
            script(src='javascripts/services/chainRepository.js')
            script(src='javascripts/services/endpoints.js')
            script(src='javascripts/controllers/galleryCtrl.js')
