/* Bootstrap */
@icon-font-path: "assets/fonts/bootstrap/";

/* DOODLE */
@doodle-max-width: 500px;
@doodle-max-height: 160px;

/* GLOBAL */
@link-color: #0083ff;
@sans-serif: Helvetica, Helvetica Neue, Arial, sans-serif;
@lato: 'Lato', Helvetica, Arial, sans-serif;
@patrick: 'Patrick Hand', 'Lato', Helvetica, Arial, sans-serif;
@images-dir: "../images/";