.container(when-scrolled="loadDoodle(nextDoodle)")
    h1.page-header=title
        small=subtitle
    section
        article.doodle(ng-repeat="doodle in doodles")
            div.doodle-text(data-ng-show="doodle.text.length>0") {{doodle.text}}
            img.doodle-image.img-responsive(data-ng-show="doodle.image.length>0", data-ng-src="{{doodle.image}}", alt="Rysunek użytkownika {{doodle.author}}")
    div(ng-show="busy") Wczytywanie sznurka...
    button(ng-click="loadDoodle(nextDoodle)") next